#container {
	width:300px;
}

#sidebar {
	display:none;
	width:0px;
}

#mainbody {
	width:300px;
}

#skills {
	width:300px;
}

#projectbody {
	width:300px;
}

.project {
	width:280px;
	height:auto;
	margin-right:5px;
}

.projectpic img {
	width:270px;
	margin:5px;
}