#container {
	width:300px;
}

#sidebar {
	width:100px;
}

#mainbody {
	width:200px;
}

#skills {
	width:200px;
}

#projectbody {
	width:200px;
}

.project {
	width:180px;
	height:auto;
	margin-right:5px;
}

.projectpic img {
	width:170px;
	margin:5px;
}