#container {
	width:800px;
	height:auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 11px;
	margin-bottom: 21px;
	background-color: #8B864E;
}

#header {
	height: 80px;
	text-align: center;
}

#header h1 {
	padding-top: 20px;
}

#sidebar {
	width:150px;
	height: auto;
	background-color: #8B5742;
	float: left;
	position: fixed;
}

h1 {
	font-family: 'Noto Sans', Arial, sans-serif;
}

h2 {
	padding-left: 4px;
	margin-bottom: 10px;
	font-family: 'Noto Sans', Arial, sans-serif;
}

h3 {
	font-family: 'Noto Sans', Arial, sans-serif;
}

h4 {
	font-family: 'Abel', Tahoma, sans-serif;
	margin-bottom: 8px;
}

p {
	padding-left:10px;
	margin-top: 8px;
	font-family: 'Abel', Tahoma, sans-serif;
}

li {
	font-family: 'Abel', Tahoma, sans-serif;
}

#mainbody {
	width:650px;
	height:auto;
	background-color: NavajoWhite;
	float: right;
}

#skills {
	width:650px;
	height:auto;
	background-color: #CDC0B0;
	float:right;
}


#skills li {
	display:inline;
	list-style-type:disc;
}

#projectbody {
	width:650px;
	height:auto;
	float:right;
	clear:right;
	background-color:#C1FFC1;
}

.project {
	height:auto;
	width:600px;
	float:right;
	clear:right;
	background-color:none;
	margin-right:10px;
	margin-bottom:10px;
	padding-left:5px;
	border-style:solid;
	border-width:2px;

}

.project a {
	color:black ;
}

.project h3 {
	margin-top:0;
	text-align: center;
}

.projectpic {
	width:inherit;
}

.projectpic img {
	width:590px;
	margin:5px;
}


#footer {
	height: auto;
	background-color: #8B5742;
	clear:both;
}