#menu {
	height:auto;
	min-height:60px;
	background-color: #CDC0B0;
	margin-right:auto;
	margin-left:auto;
}

#menu ul {
	margin:0; 
	padding:0;

}

#menu li {
	list-style-type:none;
	display:inline-block;
	width:150px;
	height:auto;
	min-height:60px;
	text-align: center;
	line-height:55px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:18px;
}

#menu li, #menu a {
	text-decoration: none;
	color:#FFF;
}

#menu li:hover {
	background-color: #CCC;
}