{% extends "base.html" %}
	
{% block content %}
	{% for entry in entries %}
		<div class="entry">
			
			<p class="entry-subject">
				<label class="entry-header">Subject: {{entry.subject}} 
					<a class="entry-id" href="/blog/{{entry.key().id()}}">id = {{entry.key().id()}}
					</a>
				</label>
				<br>
				

			</p>
			
			
			<p class="entry-content">
				<label class="entry-header">Content:</label>
				<br>
				&nbsp; {{entry.content}}</p>
		</div>
		<br><br>
	{% endfor %}

	<div>
		<h5> queried {{seconds}} seconds ago
		</h5>
	</div>
{% endblock %}
