<!DOCTYPE = HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>Darren's Web Development</title>
		<!-- This links to the CSS for google APP engine to load. For it to load outside of app engine, the css folder will need to be moved to the templates folder -->
		<link href="/css/maincss.css" rel="stylesheet" type="text/css">
		<link href="/css/menu.css" rel="stylesheet" type="text/css">
		<!-- style sheet for 800px and under layout -->
		<link href="/css/800px.css" rel="stylesheet" type="text/css" media="screen and (max-width: 800px)">
		<!-- google fonts import -->
		<link href='https://fonts.googleapis.com/css?family=Abel|Noto+Sans:400,700' rel='stylesheet' type='text/css'>
	</head>


	<body>
		<!-- container div for the page -->
		<div id="container">

			<div id="header">
				<h1>Honeycutt's Web Development</h1>
	
			</div>

			<div id="menu">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/services">Services</a></li>
					<li><a href="/blog">Blog</a></li>
					<li><a href="contact">Contact</a></li>
				</ul>
			</div>

			<div id="sidebar">


			</div>

			<div id="mainbody">
				<h2>Contact Details:</h2>
				<p>I can be reached in the following ways</p>
				<ul>
					<li> E-mail: <a href="mailto:darren.j.honeycutt@gmail.com">darren.j.honeycutt@gmail.com</a></li>
					<li> Phone: 469-278-1143 </li>
					<li> Upwork: <a href="https://www.upwork.com/freelancers/~01b06e42e115afc96a">https://www.upwork.com/freelancers/~01b06e42e115afc96a</a></li>
					<li> LinkedIn: <a href="https://www.linkedin.com/in/darren-honeycutt-a75712b5">linkedin.com/in/darren-honeycutt-a75712b5</a></li>

				</ul>


			</div>


			<div id="footer">
				<h5>Copyright 2015 by Darren Honeycutt</h5>
			</div>
		</div>

	</body>

</html>