<!DOCTYPE = HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>Darren's Web Development</title>
		<!-- This links to the CSS for google APP engine to load. For it to load outside of app engine, the css folder will need to be moved to the templates folder -->
		<link href="css/maincss.css" rel="stylesheet" type="text/css">
		<link href="css/menu.css" rel="stylesheet" type="text/css">
		<!-- style sheet for 800px and under layout -->
		<link href="css/800px.css" rel="stylesheet" type="text/css" media="screen and (max-width: 800px)">
	</head>

	<body>
		<!-- container div for the page -->
		<div id="container">

			<div id="header">
	
			</div>

			<div id="menu">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Services</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>

			<div id="sidebar">
				<h4>Jump to:</h4>

			</div>

			<div id="mainbody">
				<h3> Bio: </h3>
				<p> Hello, and welcome to my web developer page! My name is Darren Honeycutt, and I am a web developer. I am 27 years old and live in Richardson, TX. I build and design web pages and applications using all the best principals and practices to make ensure your page is responsive, fast, easy to navigate, and user friendly. If you would like to have a webpage or application built, or have a potential job offer, please contact me at darren.jhoneycutt@gmail.com to discuss further.
				</p>
				<p> Below I will highlight my skills and projects. The source code for the projects can be found on my github if you would like to take a closer look at the details. I have a passion for learning and am willing to expand my knowledge if a project is not already in my skillset. This site is still under construction. 
				</p>
			</div>

			<div id="skills">
				<h3> Skills: </h3>
				<p> Languages: 
					<ul>
						<li>HTML, </li>
						<li>CSS, </li>
						<li>JavaScript, </li>
						<li>Python, </li>
						<li>Java, </li>
						<li>C++, and </li>
						<li>Visual Basic</li>
					</ul>
					</p>

				<p> Frameworks and More: 
					<ul>
						<li>Google App Engine, </li>
						<li>Bootstrap, </li>
						<li>GitHub, </li>
						<li>Jenja2, </li>
						<li>SQL databases, and</li>
						<li>JQuery </li>
					</ul>
					</p>

				<p> Other: 
					<ul>
						<li>Microsoft Office Suite (Excel Expert), </li>
						<li>SAP, </li>
						<li>MATLAB, </li>
						<li>SalesForce, and</li>
						<li>Mathematica </li>
					</ul>
					</p>

				



			</div>

			<div class="project" id="project1">
				<h3> Blog Project: </h3>
				<h5> Python web application using google app engine: blog-darren.appspot.com/blog</h5>
				<h5> User logins, HTML templates, cookies, caching, databases, JSON, and more.</h5>
				<h5> Source code: github.com/dhcutt/blog-darren class: https://www.udacity.com/course/web-development--cs253</h5>

			</div>

			<div class="project" id="project2">
				<h3> JavaScript Resume Project: </h3>
				<h5> JavaScript Resume</h5>
				<h5> Resume featuring JavaScript, JQuery, google maps API, and more.</h5>
				<h5> Source code: github.com/dhcutt/frontend-nanodegree-resume class: https://www.udacity.com/course/javascript-basics--ud804</h5>				

			</div>

			<div class="project" id="project3">
				<h3> HTML5/CSS3 Resume Project: </h3>
				<h5> HTML/CSS resume</h5>
				<h5> Responsive resume using bootstrap framework..</h5>
				<h5> Source code: github.com/dhcutt/Resume-HTML-CSS-Final-Project class: https://www.udacity.com/course/intro-to-html-and-css--ud304</h5>

			</div>


			<div id="footer">
				<h5>Copyright 2015 by Darren Honeycutt</h5>
			</div>



		</div>
	</body>

</html>